<!DOCTYPE html>
<html>
    <body>
        <div class="erros">
             <%if(validadorErros){  %>
                <% validadorErros.forEach(erros =>{%>
                    <li>
                        <%= erros.param %> - <%= erros.msg %>
                    </li>
        
                 <%}); %>
        <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" value="<%=produtos.titulo%>" placeholder="Informe o titulo do Livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produtos.preco%>" placeholder="120.05"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Fale sobre o livro" ><%=produtos.descricao%></textarea>
            </div>

            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>